In [1]:
!dir

 Volume in drive C has no label.
 Volume Serial Number is E411-BCD7

 Directory of C:\Users\Ninja\Documents\Python Scripts\python_misc\pandas_udemy

18/08/2019  06:44 PM    <DIR>          .
18/08/2019  06:44 PM    <DIR>          ..
18/08/2019  06:44 PM    <DIR>          .ipynb_checkpoints
18/08/2019  06:44 PM                72 pandas_merge_cat.ipynb
18/08/2019  06:44 PM    <DIR>          sheets
               1 File(s)             72 bytes
               4 Dir(s)  111,686,017,024 bytes free

In [4]:
!dir sheets

 Volume in drive C has no label.
 Volume Serial Number is E411-BCD7

 Directory of C:\Users\Ninja\Documents\Python Scripts\python_misc\pandas_udemy\sheets

18/08/2019  06:46 PM    <DIR>          .
18/08/2019  06:46 PM    <DIR>          ..
30/08/2016  07:49 PM            13,432 bigmac.csv
08/08/2016  02:51 PM         1,868,632 chicago.csv
13/09/2016  12:25 PM             9,674 Data - Multiple Worksheets.xlsx
13/09/2016  12:23 PM             8,803 Data - Single Worksheet.xlsx
05/08/2016  04:06 PM            10,421 ecommerce.csv
28/07/2016  07:42 PM            59,175 employees.csv
04/08/2016  10:15 AM            43,969 foods.csv
06/08/2016  11:34 AM            88,633 fortune1000.csv
07/08/2016  04:42 PM            23,550 google_stock_price.csv
24/08/2016  03:00 PM             1,695 jamesbond.csv
31/08/2016  03:18 PM            32,823 nba.csv
29/08/2016  02:36 PM            10,569 pokemon.csv
03/08/2016  11:24 PM               326 quarters.csv
30/07/2016  12:21 PM            50,885 Restaurant - Customers.csv
05/08/2016  07:18 PM               173 Restaurant - Foods.csv
11/09/2016  06:13 PM             1,511 Restaurant - Week 1 Sales.csv
05/08/2016  09:10 PM               789 Restaurant - Week 1 Satisfaction.csv
30/07/2016  12:22 PM             1,533 Restaurant - Week 2 Sales.csv
02/08/2016  05:16 PM               228 revenue.csv
30/07/2016  03:54 PM            34,872 salesmen.csv
30/08/2016  10:57 PM           510,136 worldstats.csv
              21 File(s)      2,771,829 bytes
               2 Dir(s)  111,682,433,024 bytes free

In [3]:
import pandas as pd

In [7]:
week1 = pd.read_csv("sheets/Restaurant - Week 1 Sales.csv")
week2 = pd.read_csv("sheets/Restaurant - Week 2 Sales.csv")
customers = pd.read_csv("sheets/Restaurant - Customers.csv")
foods = pd.read_csv("sheets/Restaurant - Foods.csv")

In [8]:
foods.head()

   Food ID   Food Item  Price
0        1       Sushi   3.99
1        2     Burrito   9.99
2        3        Taco   2.99
3        4  Quesadilla   4.25
4        5       Pizza   2.49

In [9]:
week1.head()

   Customer ID  Food ID
0          537        9
1           97        4
2          658        1
3          202        2
4          155        9

In [12]:
print(len(week1))
print(len(week2))
print(len(pd.concat([week1, week2], ignore_index= True)))
print(len(pd.concat([week1, week2], ignore_index= False)))

250
250
500
500

In [17]:
sales = pd.concat([week1, week2], keys= ["A", "B"])