# Recommender Systems

https://medium.com/@sumanadhikari/building-a-movie-recommendation-engine-using-scikit-learn-8dbb11c5aa4b

In [4]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [5]:
df = pd.read_csv("movie_dataset.csv")

In [3]:
df[1:5] # examining the data

,index,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,...,runtime,spoken_languages,status,tagline,title,vote_average,vote_count,cast,crew,director
1,1,300000000,Adventure Fantasy Action,http://disney.go.com/disneypictures/pirates/,285,ocean drug abuse exotic island east india trad...,en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,...,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500,Johnny Depp Orlando Bloom Keira Knightley Stel...,"[{'name': 'Dariusz Wolski', 'gender': 2, 'depa...",Gore Verbinski
2,2,245000000,Action Adventure Crime,http://www.sonypictures.com/movies/spectre/,206647,spy based on novel secret agent sequel mi6,en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,...,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466,Daniel Craig Christoph Waltz L\u00e9a Seydoux ...,"[{'name': 'Thomas Newman', 'gender': 2, 'depar...",Sam Mendes
3,3,250000000,Action Crime Drama Thriller,http://www.thedarkknightrises.com/,49026,dc comics crime fighter terrorist secret ident...,en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,...,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106,Christian Bale Michael Caine Gary Oldman Anne ...,"[{'name': 'Hans Zimmer', 'gender': 2, 'departm...",Christopher Nolan
4,4,260000000,Action Adventure Science Fiction,http://movies.disney.com/john-carter,49529,based on novel mars medallion space travel pri...,en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,...,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124,Taylor Kitsch Lynn Collins Samantha Morton Wil...,"[{'name': 'Andrew Stanton', 'gender': 2, 'depa...",Andrew Stanton

In [6]:
features = ['keywords', 'cast', 'genres', 'director'] # we dont need all of the features

In [8]:
def combine_features(row):
    return row['keywords'] + ' ' + row['cast'] + ' ' + row["genres"] + ' ' + row['director']

Object `row` not found.

In [10]:
for feature in features:
    df[feature] = df[feature].fillna('') # to fill all the black NaNs with ea blank string
df["combined_features"] = df.apply(combine_features, axis=1)

In [12]:
cv = CountVectorizer()
count_matrix = cv.fit_transform(df["combined_features"])
cosine_sim = cosine_similarity(count_matrix)
cosine_sim[0,:]

array([1.        , 0.10540926, 0.12038585, ..., 0.        , 0.        ,
       0.        ])

In [15]:
cosine_sim.shape

(4803, 4803)

(consine_siume[0,:] a list of how simailar 0 is to every other 4803 movies in the list. 1 is the same its the id is 0 so its the first element)

In [16]:
cosine_sim.shape

(4803, 4803)

In [18]:
def get_title_from_index(index):
    return df[df.index == index]['title'].values[0]

In [21]:
def get_index_from_title(title):
    return df[df.title == title]['index'].values[0]

In [28]:
movie_user_likes = "Men in Black 3" # hardcoded input here
movie_index = get_index_from_title(movie_user_likes)
similar_movies = list(enumerate(cosine_sim[movie_index]))

In [29]:
sorted_similar_movies = sorted(similar_movies, key=lambda x: x[1], reverse=True)[1:]

In [30]:
i = 0
print("Top 5 similar movies to " + movie_user_likes + " are: \n")
for element in sorted_similar_movies:
    print(get_title_from_index(element[0]))
    i=i+1
    if i>=5:
        break

Top 5 similar movies to Men in Black 3 are:

Men in Black II
Men in Black
The Helix... Loaded
Time Changer
Hot Tub Time Machine

In [36]:
df['genres']

0        Action Adventure Fantasy Science Fiction
1                        Adventure Fantasy Action
2                          Action Adventure Crime
3                     Action Crime Drama Thriller
4                Action Adventure Science Fiction
5                        Fantasy Action Adventure
6                                Animation Family
7                Action Adventure Science Fiction
8                        Adventure Fantasy Family
9                        Action Adventure Fantasy
10       Adventure Fantasy Action Science Fiction
11                Adventure Action Thriller Crime
12                       Adventure Fantasy Action
13                       Action Adventure Western
14       Action Adventure Fantasy Science Fiction
15                       Adventure Family Fantasy
16               Science Fiction Action Adventure
17                       Adventure Action Fantasy
18                  Action Comedy Science Fiction
19                       Action Adventure Fantasy
20                       Action Adventure Fantasy
21                               Action Adventure
22                              Adventure Fantasy
23                              Adventure Fantasy
24                         Adventure Drama Action
25                         Drama Romance Thriller
26               Adventure Action Science Fiction
27      Thriller Action Adventure Science Fiction
28      Action Adventure Science Fiction Thriller
29                      Action Adventure Thriller
                          ...
4773                                       Comedy
4774                                Drama Romance
4775                                 Drama Comedy
4776                                 Comedy Drama
4777                                        Drama
4778                  Action Drama Crime Thriller
4779                                       Comedy
4780                         Thriller Crime Drama
4781                               Comedy Romance
4782                                 Drama Family
4783                              Thriller Horror
4784                         Drama Comedy Romance
4785                                        Drama
4786                               Comedy Romance
4787                     Science Fiction Thriller
4788                          Horror Comedy Crime
4789                                        Drama
4790                                Drama Foreign
4791                                       Horror
4792                Crime Horror Mystery Thriller
4793                                        Drama
4794                       Thriller Horror Comedy
4795                                        Drama
4796               Science Fiction Drama Thriller
4797                             Foreign Thriller
4798                        Action Crime Thriller
4799                               Comedy Romance
4800                Comedy Drama Romance TV Movie
4801
4802                                  Documentary
Name: genres, Length: 4803, dtype: object

In [27]:
df.columns

Index(['index', 'budget', 'genres', 'homepage', 'id', 'keywords',
       'original_language', 'original_title', 'overview', 'popularity',
       'production_companies', 'production_countries', 'release_date',
       'revenue', 'runtime', 'spoken_languages', 'status', 'tagline', 'title',
       'vote_average', 'vote_count', 'cast', 'crew', 'director',
       'combined_features'],
      dtype='object')