## titanic dataset from kaggle

In [18]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import time
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB

from sklearn.metrics import mean_squared_error, r2_score

In [19]:
# Importing dataset
data = pd.read_csv("titanic_edited.csv")

# Convert categorical variable to numeric
data["Sex_cleaned"]=np.where(data["Sex"]=="male",0,1)
# data["Embarked_cleaned"]=np.where(data["Embarked"]=="S",0,
#                                   np.where(data["Embarked"]=="C",1,
#                                            np.where(data["Embarked"]=="Q",2,3)

In [20]:
# Cleaning dataset of NaN
data=data[[
    "Survived",
    "Pclass",
    "Sex_cleaned",
    "Age",
    "SibSp",
    "Parch",
    "Fare",
]].dropna(axis=0, how='any')

In [32]:
# Split dataset in training and test datasets
# X_train, X_test = train_test_split(data, test_size=0.5, random_state=int(time.time()))
X_train, X_test = train_test_split(data, test_size=0.5, random_state=0)

In [33]:
data.head()

   Survived  Pclass  Sex_cleaned   Age  SibSp  Parch     Fare
0         0       3            0  22.0      1      0   7.2500
1         1       1            1  38.0      1      0  71.2833
2         1       3            1  26.0      0      0   7.9250
3         1       1            1  35.0      1      0  53.1000
4         0       3            0  35.0      0      0   8.0500

In [34]:
# Instantiate the classifier
gnb = GaussianNB()
used_features =[
    "Pclass",
    "Sex_cleaned",
    "Age",
    "SibSp",
    "Parch",
    "Fare",
]

In [35]:
#X_train[used_features]

In [36]:
# Train classifier
gnb.fit(X_train[used_features].values, X_train["Survived"])
y_pred = gnb.predict(X_test[used_features])

We want to know the probablity of survival when we consider the fare

In [51]:
# X_train["Survived"]

In [44]:
mean_survival=np.mean(X_train["Survived"])

In [49]:
mean_not_survival = 1-mean_survival
print("Survival prob = {:03.2f}%, No survival prob = {:03.2f}%"
      .format(100*mean_survival, 100*mean_not_survival))

Survival prob = 39.05%, No survival prob = 60.95%

In [52]:
1502/2224 # percentage who died

0.6753597122302158

In [ ]:
the data has been clipped so the percentages are different

In [37]:
# Print results
print("Number of mislabeled points out of a total {} points : {}, performance {:05.2f}%"
      .format(
          X_test.shape[0],
          (X_test["Survived"] != y_pred).sum(),
          100*(1-(X_test["Survived"] != y_pred).sum()/X_test.shape[0])
))

Number of mislabeled points out of a total 444 points : 82, performance 81.53%

In [38]:
mean_fare_survived = np.mean(X_train[X_train["Survived"]==1]["Fare"])
std_fare_survived = np.std(X_train[X_train["Survived"]==1]["Fare"])
mean_fare_not_survived = np.mean(X_train[X_train["Survived"]==0]["Fare"])
std_fare_not_survived = np.std(X_train[X_train["Survived"]==0]["Fare"])

print("mean_fare_survived = {:03.2f}".format(mean_fare_survived))
print("std_fare_survived = {:03.2f}".format(std_fare_survived))
print("mean_fare_not_survived = {:03.2f}".format(mean_fare_not_survived))
print("std_fare_not_survived = {:03.2f}".format(std_fare_not_survived))

mean_fare_survived = 48.45
std_fare_survived = 70.21
mean_fare_not_survived = 23.75
std_fare_not_survived = 33.32